<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% if config.site_name != 'Documentation' %}
            <li class="breadcrumb-item"><a href="{{ config.extra.base_url }}">Overview</a></li>
            <li class="breadcrumb-item"><a href="{{ config.extra.project_url }}">{{ config.extra.project }}</a></li>

            {% if page.title != 'Home' %}
                <li class="breadcrumb-item"><a href="{{ nav.homepage.url|url }}">{{ config.site_name }}</a></li>

                {% for doc in page.ancestors|reverse %}
                    {% if doc.link %}
                        <li class="breadcrumb-item"><a href="{{ doc.link|url }}">{{ doc.title }}</a></li>
                    {% else %}
                        {# Skip version numbers like v1, v2, v3 #}
                        {% if config.extra.versions == Undefined
                              or (config.extra.versions != Undefined and not doc.title in config.extra.versions) %}
                            <li class="breadcrumb-item">{{ doc.title }}</li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
            {% else %}
                <li class="breadcrumb-item">{{ config.site_name }}</li>
            {% endif %}
        {% else %}
            <li class="breadcrumb-item">Overview</li>
        {% endif %}
    </ol>
</nav>
