<footer class="footer">
    <div class="container">

        {# Link to top #}
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="footer__button" href="#page-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h5>Laminas</h5>
                <ul>
                    <li>Laminas Project <a href="https://getlaminas.org/">The new foundation for the community-supported, open source continuation of Zend Framework</a></li>
                    <li>Laminas Components and MVC <a href="https://docs.laminas.dev/">Components and MVC for enterprise applications</a></li>
                    <li>Mezzio <a href="https://docs.mezzio.dev/">PSR-15 middleware in minutes</a></li>
                    <li>Laminas API Tools <a href="https://api-tools.getlaminas.org/">Build RESTful APIs in minutes</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    {# Support links #}
                    <div class="col-md-4">
                        <h4 class="footer__headline">Support</h4>
                        <ul class="support__list">
                            <li class="support__list-item">
                                <a href="https://discourse.laminas.dev" class="support__link" title="Forum"><i class="fa fa-comments"></i></a>
                            </li>
                            <li class="support__list-item">
                                <a href="https://laminas.dev/chat" class="support__link" title="Chat"><i class="fa fa-slack"></i></a>
                            </li>
                            <li class="support__list-item">
                                <a href="https://github.com/laminas" class="support__link" title="Github"><i class="fa fa-github"></i></a>
                            </li>
                            <li class="support__list-item">
                                <a href="https://twitter.com/getlaminas" class="support__link" title="Twitter"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="support__list-item">
                                <a href="https://getlaminas.org/blog/rss.xml" class="support__link" title="Blog feed"><i class="fa fa-rss"></i></a>
                            </li>
                            <li class="support__list-item">
                                <a href="https://getlaminas.org/security/feed" class="support__link" title="Security feed"><i class="fa fa-rss-square"></i></a>
                            </li>
                        </ul>
                    </div>

                    {# License #}
                    <div class="col-md-4">
                        <h4 class="footer__headline">License</h4>
                        <p>
                            Code licensed under <a
                                href="{{ config.repo_url }}blob/master/LICENSE.md">BSD 3-Clause</a>.
                        </p>
                    </div>

                    {# Copyright #}
                    <div class="col-md-4">
                        <h4 class="footer__headline">Copyright</h4>
                        <p>
                            <!--Built with love by the Laminas team with the help of our
                            <a href="{{ config.repo_url }}graphs/contributors">contributors</a>.<br>-->
                            &copy; {{ build_date_utc.strftime('%Y') }} <a href="https://getlaminas.org/">Laminas Project</a> a Series of LF Projects, LLC.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
