<footer class="footer">
    <div class="container">

        {# Link to top #}
        <div class="row">
            <div class="col-md-12 text-center">
                <a class="footer__button" href="#page-top"><i class="bi bi-arrow-up-square" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h5 class="text-white">Laminas – The Linux Foundation's only PHP project</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>Mezzio <a href="https://docs.mezzio.dev/">PSR-15 middleware in minutes</a></li>
                    <li>Laminas Components <a href="https://docs.laminas.dev/components">Enterprise-ready PHP components</a></li>
                    <li>Maintenance Overview <a href="https://getlaminas.org/packages-maintenance-status/">Current maintenance status of Laminas &amp; Mezzio packages</a></li>
                    <li>Laminas Integrations <a href="https://getlaminas.org/integrations/">List of packages using Laminas & Mezzio components</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    {# Support links #}
                    <div class="col-md-4">
                        <h5 class="footer__headline text-white">Support</h5>
                        <ul class="support__list">
                            <li class="support__list-item">
                                <a href="https://discourse.laminas.dev" class="support__link" title="Forum"><i class="bi-chat-text-fill"></i><span class="visually-hidden">Laminas &amp; Mezzio Forum</span></a>
                            </li>
                            <li class="support__list-item">
                                <a href="https://laminas.dev/chat" class="support__link" title="Chat"><i class="bi-slack"></i><span class="visually-hidden">Laminas Community Slack</span></a>
                            </li>
                            <li class="support__list-item">
                                <a href="https://github.com/laminas" class="support__link" title="Github"><i class="bi-github"></i><span class="visually-hidden">Laminas GitHub Organisation Page</span></a>
                            </li>
                            <li class="support__list-item">
                                <a href="https://phpc.social/@getlaminas" class="support__link" title="Mastodon"><i class="bi-mastodon"></i><span class="visually-hidden">Laminas on Mastodon</span></a>
                            </li>
                            <li class="support__list-item">
                                <a href="https://getlaminas.org/blog/rss.xml" class="support__link" title="Blog feed"><i class="bi-rss"></i><span class="visually-hidden">Blog article RSS Feed</span></a>
                            </li>
                            <li class="support__list-item">
                                <a href="https://getlaminas.org/security/feed" class="support__link" title="Security feed">
                                    <i class="bi-rss-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    {# License #}
                    <div class="col-md-4">
                        <h5 class="footer__headline text-white">License</h5>
                        <p>
                            Code licensed under <a
                                href="{{ config.repo_url }}/blob/-/LICENSE.md">BSD 3-Clause</a>.
                        </p>
                    </div>

                    {# Copyright #}
                    <div class="col-md-4">
                        <h5 class="footer__headline text-white">Copyright</h5>
                        <p>
                            <!--Built with love by the Laminas team with the help of our
                            <a href="{{ config.repo_url }}/graphs/contributors">contributors</a>.<br>-->
                            &copy; {{ build_date_utc.strftime('%Y') }} <a href="https://getlaminas.org/">Laminas Project</a> a Series of LF Projects, LLC.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
