{% if config.extra.current_version != Undefined %}
<div class="version-selector">
    <div class="btn-group">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false" id="version-selector-dropdown">
            {% if page != None and page.url != '' and page.url[:2] in config.extra.versions %}
                {{ page.url[:2] }}
            {% else %}
                {{ config.extra.current_version }}
            {% endif %}
        </button>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left" aria-labelledby="version-selector-dropdown">
            {% for version_number in config.extra.versions|sort(reverse=true) %}
                {% for nav_item in nav if nav_item.title == version_number %}
                    <a href="{{nav_item.children[0].url|url}}" class="dropdown-item{% if page != None and version_number == page.url[:2]%} active{% endif %}">
                        {% if version_number == config.extra.current_version %}
                            {{ version_number }} (latest)
                        {% else %}
                            {{ version_number }}
                        {% endif %}
                    </a>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
